body{
    background-color: blue;
}

@media (min-width: 36rem) {
  body {
    background-color: yellow;
  }
}

@media (min-width: 75rem) {
  body {
    background-color: purple;
  }
}

@media (min-width: 87.5rem) {
  body {
    background-color: white;
  }
}